<li class="card_small">
    <h1 class="card_title"><%= menu.title %></h1>
    <a href="/restaurants/<%= restaurant._id %>/menus/<%=menu._id%>">
      <button>Pogledaj</button>
    </a>
    <a href="/restaurants/<%= restaurant._id %>/menus/<%=menu._id%>/delete">
      <button>Izbrisi</button>
    </a>
  </li>
  